.equilli-make-bid-button-1 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button1.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 56px;
    border: none;
    padding: 0px;
    cursor: pointer;
    display: block;
}

.equilli-make-bid-button-2 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button2.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 56px;
    border: none;
    padding: 0px;
    cursor: pointer;
    display: block;
}

.equilli-make-bid-button-3 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button3.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 45px;
    border: none;
    padding: 0px;
    cursor: pointer;
    display: block;
}

.equilli-invisible {

    display: none;
}