.container {
    width: 81px;
    margin: 50px auto;
    padding-left: 5px;
}

.customCheckbox {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    background: #eaeaea;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    overflow: hidden;
    margin: 10px;
}

.customCheckbox.customCheckboxChecked {
    background: #000;
    border: 1px solid #000;
}

.customCheckbox input {
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.customCheckbox span {
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 90%;
    color: #222;
}

.customCheckbox.customCheckboxChecked span {
    display: block;
}