/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* .equilli-main-title {  } */

.equilli-register-iframe {
    width: 100%;
    height: 100%;
    min-height: 800px;
}

.equilli-main-container {
    margin: 20px 20px 0px 20px;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.45);
}

.equilli-inner-title {
    font-weight: bold;
    font-size: 1.5em;
}

.equilli-select-all-container {
    display: flex;
}

.equilli-product-row-container { }

.equilli-product-row-container.dark {
    background-color: #e6e6e6;
}

.equilli-product-row-inner-container {
    display: flex;
}

.equilli-product-row-checkbox-container {

}

.equilli-product-row-title-container {
    min-width: 350px;
    padding: 0px 20px;
}

.equilli-product-row-title {
    font-weight: bold;
    font-size: 1.0em;
    margin: 0px;
}

.equilli-product-row-match {
    width: 100%;
}

.equilli-product-row-categories-container-closed {
    width: 100%;
}

.equilli-product-row-image {
    width: 150px;
    height: 150px;
    border: solid 2px #ccc;
    margin: 10px 10px;
}

.equilli-product-row-right-side-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.equilli-product-row-open-close {
    text-align: right;
}

.equilli-product-row-actions-container {
    display: flex;
    flex-direction: row;
}

.equilli-product-row-action {
    margin-left: 10px;
    margin-top: 30px;
}

.equilli-product-row-action-label {
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: -10px;
}

.equilli-product-row-ranges-container {
    clear: both;
}

.equilli-product-row-action-text-title {
    font-size:0.7em;
    color: #666;
    display: block;
    margin-top: 10px;
    clear: both;
}

.equilli-product-row-action-text-title.extrea-margin {
    margin-top: 30px;
}

.equilli-product-row-action-text {
    display: block;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    margin-top: 9px;
}

.equilli-product-row-edit {
    margin-left: 40px;
    display: none;
}

.equilli-categories-tags-container {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    padding: 3px;
    display: flex;
}

.equilli-categories-tag {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    background-color: #e6e6e6;
    padding: 3px 5px;
    margin: 0px 2px;
}

.equilli-categories-tags-remove {
    border: 0px;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -border-radius: 15px;
    padding: 0px 3px;
    margin: 0px;
}

.equilli-categories-tags-limit-desc {
    font-size: 0.8em;
}

.equilli-product-description {
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
    margin: 5px 0px 10px 0px;
}

.equilli-select-button-1 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button1.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 45px;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.equilli-select-button-2 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button2.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 45px;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.equilli-select-button-3 {
    background-size: contain;
    background-color: transparent;
    background-image: url('../../public/img/button3.svg');
    background-repeat: no-repeat;
    width: 310px;
    height: 45px;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.equilli-save-products-button-container {
    width: 100%;
    text-align: center;
}

.equilli-save-products-button {
    background-color: #f26524;
    color: #000;
    border: 1px solid #f26524;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 20px;
}

.equilli-resync-store-button {
    border: 1px solid #f26524;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 10px;
    float: right;
}